<%- include('../partials/staff/header') %>
    <link rel="stylesheet" href="/css/staff/createReport.css">

    <div class="container">
        <h1>
            Create <%= reportType==='import' ? 'import' : 'export' %> report
                <i class="fa-solid <%= reportType === 'import' ? 'fa-file-import' : 'fa-file-export' %>"
                    style="color: <%= reportType === 'import' ? 'red' : 'green' %>;"></i>
        </h1>

        <% if (error) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
            <% } %>



                <form method="POST" action="/staff/reports/<%= reportType %>">
                    <div class="form-group">
                        <label for="product_id">Product *</label>
                        <select class="form-control" id="product_id" name="product_id" required>
                            <% products.forEach(product=> { %>
                                <option value="<%= product.id %>">
                                    <%= product.name %> (SL: <strong>
                                            <%= product.quantity %>
                                        </strong>, Giá: <strong>
                                            <%= product.price.toLocaleString() %>
                                        </strong> VNĐ)
                                </option>
                                <% }) %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity *</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                    </div>

                    <div class="form-group">
                        <label for="notes">Note</label>
                        <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Send </button>
                    <a href="/staff/reports" class="btn btn-secondary">Cancel</a>
                </form>
    </div>