<%- include('../partials/staff/header') %>
    <link rel="stylesheet" href="/css/staff/dashboard.css">
    <div class="container">





        <div class="products-list">
            <h2>Product list ( <%= stats.totalProducts %> )</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dữ liệu sản phẩm sẽ được lặp qua ở đây -->
                    <% products.forEach(product=> { %>
                        <tr>
                            <td>
                                <%= product.product_code %>
                            </td>
                            <td>
                                <%= product.name %>
                            </td>
                            <td>
                                <%= product.quantity %>
                            </td>
                            <td>
                                <%= product.unit %>
                            </td>
                            <td>
                                <%= product.price %>
                            </td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>

        </div>
    </div>
    <div class="menu-user">
        <div class="profile-header">
            <i class="fa-solid fa-circle-user"></i>
            <div class="username">
                <%= user.username %>
            </div>
        </div>
        <div class="menu-user-item">
            <i class="fa-solid fa-key"></i>
            <a href="/staff/change-password" class="menu-user-link">Change password</a>
        </div>
    </div>
    <!-- <%- include('../partials/admin/footer') %> -->