<%- include('../partials/admin/header') %>
    <link rel="stylesheet" href="/css/admin/dashboard.css">

    <div class="dashboard-container">
        <div class="stats stats1">
            <div class="stat-card" id="pending-reports">
                <h3>Pending report</h3>
                <p>
                    <%= stats.pendingReports || 0 %>
                </p>
            </div>
            <div class="stat-card" id="exhausted-alerts">
                <h3>Low stock</h3>
                <p>
                    <%= stats.lowStockProducts || 0 %>
                </p>
            </div>
            <div class="stat-card" id="inventory-alerts">
                <h3>Inventory</h3>
                <p>
                    <%= stats.inventoryAlerts || 0%>
                </p>
            </div>
        </div>
        <hr>
        <div class="stats stats2">
            <div class="stat-card" id="total-products">
                <h3>Warehouse</h3>
                <p>
                    <%= stats.totalProducts || 0 %>
                </p>
            </div>
            <div class="stat-card" id="total-users">
                <h3>Account</h3>
                <p>
                    <%= stats.totalUsers || 0 %>
                </p>
            </div>
            <div class="stat-card">
                <h3>Report today</h3>
                <p>
                    <%= stats.todayReports || 0 %>
                </p>
            </div>
        </div>
    </div>
    <script src="/js/admin/dashboard.js"></script>
    <script src="/js/darkmode/share/dashboard.js"></script>

    <%- include('../partials/admin/footer') %>