<%- include('../partials/admin/header') %>
    <link rel="stylesheet" href="/css/admin/manageUsers.css">


    <div class="container">
        <a href="/admin/users/create" class="btnAdd"><i class="fa-solid fa-plus"></i>Add User</a>
        <h1 class="manageProduct-heading">User Management</h1>


        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.full_name || 'N/A' %>
                        </td>
                        <td>
                            <%= user.email || 'N/A' %>
                        </td>
                        <td>
                            <%= user.role %>
                        </td>
                        <td>
                            <%= user.is_active ? 'Work' : 'Disable' %>
                        </td>
                        <td>
                            <a href="/admin/users/<%= user.id %>/edit" class=" btnInfo">Sửa</a>
                            <a href="/admin/users/<%= user.id %>/delete" class=" btnDanger"
                                onclick="return confirm('Are you sure you want to delete??')">delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <script src="/js/darkmode/share/manageUsers.js"></script>

    <%- include('../partials/admin/footer') %>