<%- include('../partials/manager/header') %>

    <link rel="stylesheet" href="/css/admin/dashboard.css">

    <div class="container">
        <div class="stats stats1">
            <div class="stat-card" id="pending-reports">
                <h3>Report pending approval</h3>
                <p>
                    <%= stats.pendingReports || 0 %>
                </p>
            </div>
            <div class="stat-card">
                <h3>The product is running low</h3>
                <p>
                    <%= stats.lowStockProducts || 0 %>
                </p>
            </div>
            <div class="stat-card" id="inventory-alerts">
                <h3>Inventory</h3>
                <p>
                    <%= stats.inventoryAlerts || 0 %>
                </p>
            </div>
        </div>
        <hr>
        <div class="stats stats2">
            <div class="stat-card" id="total-products">
                <h3>Product</h3>
                <p>
                    <%= stats.totalProducts || 0 %>
                </p>
            </div>
            <div class="stat-card">
                <h3>Today's report</h3>
                <p>
                    <%= stats.todayReports || 0 %>
                </p>
            </div>
        </div>
    </div>
    <div class="menu-user">
        <div class="profile-header">
            <i class="fa-solid fa-circle-user"></i>
            <div class="username">
                <%= user.username %>
            </div>
        </div>
        <div class="menu-user-item">
            <i class="fa-solid fa-key"></i>
            <a href="/manager/change-password" class="menu-user-link">Đổi mật khẩu</a>
        </div>
    </div>
    <script src="/js/darkmode/admin/dashboard.js"></script>
    <%- include('../partials/manager/footer') %>