<%- include('../partials/manager/header') %>

<link rel="stylesheet" href="/css/admin/manageProducts.css">
<a href="/manager/products/create" class="add-product-button"><i class="fa-solid fa-plus"></i>Add product</a>

<h1>Product management</h1>

<div class="product-management-container">


    <table >
        <thead >
            <tr>
                <th>Product code</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Creator</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product=> { %>
                <tr>
                    <td>
                        <%= product.product_code %>
                    </td>
                    <td>
                        <%= product.name %>
                    </td>
                    <td>
                        <%= product.quantity %>
                    </td>
                    <td>
                        <%= product.unit %>
                    </td>
                    <td>
                        <%= product.price.toLocaleString() %> VNĐ
                    </td>
                    <td>
                        <%= product.created_by_name %>
                    </td>
                    <td class="action">
                        <a href="/manager/products/<%= product.id %>/edit" class="edit-product-button">Edit</a>
                        <a href="/manager/products/<%= product.id %>/delete"
                            class="delete-product-button delete-btn">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>

    <%- include('../partials/manager/footer') %>